@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: #0a3684 !important;
  color: white;
}
.icon-checkmark {
  color: #00ff00;
}

.footer-nav .active {
  background-color: #ebf6ff !important;
  color: black !important;
}

@media (max-width: 1024px) {
  .checkbox-size {
    width: 33px;
    height: 33px;
  }
}
@media (max-width: 720px) {
  .checkbox-size {
    width: 44px;
    height: 44px;
  }
}
